<template>
    <v-footer app padless color="grey" class="lighten-4">
        <v-card flat tile class="text-center grey lighten-4">
            <v-card-text class="pt-0">
                <v-container fluid>
                    <v-row dense justify="center">
                        <v-col cols="12" xs="12" md="6">
                            <v-chip outlined class="mx-2">
                                <v-icon left small
                                    >mdi-account-circle-outline</v-icon
                                >
                                Dr. Vinoo Alluri
                            </v-chip>
                            <v-chip outlined class="mx-2">
                                <v-icon left small
                                    >mdi-account-circle-outline</v-icon
                                >
                                Pratik Kamble
                            </v-chip>
                            <v-chip outlined class="mx-2">
                                <v-icon left small
                                    >mdi-account-circle-outline</v-icon
                                >
                                Saumya Srivastava
                            </v-chip>
                        </v-col>
                        <v-col cols="12" xs="12" md="6">
                            <em class="text-subtitle grey--text">
                                Participation in this survey is completely
                                voluntary. You can withdraw your consent to
                                participate at any time. Your answers will
                                remain anonymous. You may review the data
                                privacy notice for this research
                                <a href="/">here</a>.
                            </em>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-divider></v-divider>
                    </v-row>
                    <v-row align="center">
                        <v-col class="text-center">
                            {{ new Date().getFullYear() }} —
                            <strong>
                                <a href="https://www.iiit.ac.in/">
                                    International Institute of Information
                                    Technology, Hyderabad
                                </a>
                            </strong>
                        </v-col>
                    </v-row>
                </v-container>
            </v-card-text>
        </v-card>
    </v-footer>
</template>
<script>
export default {
    name: 'Footer',
    data: () => {
        return {
            //
        };
    },
};
</script>