<template>
    <v-container fluid>
        <v-overlay :value="loading">
            <v-progress-circular indeterminate size="64">
                <v-icon large>mdi-account-reactivate</v-icon>
            </v-progress-circular>
        </v-overlay>
    </v-container>
</template>

<script>
export default {
    name: 'Login',
    data: () => ({
        loading: true,
    }),
    async created() {
        const ticket = this.$route.query.ticket;
        if (ticket) {
            await this.$store
                .dispatch('getToken', { ticket })
                .finally(() => (this.loading = false));
        }
        this.$router.push('/');
    },
};
</script>