<template>
    <v-app-bar app>
        <v-spacer></v-spacer>
        <v-toolbar-title class="text-center justify-center py-6">
            <h1 class="font-weight-thin">Social Networks &amp; Music</h1>
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn
            text
            depressed
            icon
            @click="() => (isAuthenticated ? logout() : login())"
        >
            <v-tooltip bottom>
                <template #activator="{ on }">
                    <v-icon v-on="on" color="primary">{{
                        isAuthenticated ? 'mdi-logout' : 'mdi-login'
                    }}</v-icon>
                </template>
                <span>{{ isAuthenticated ? 'Logout' : 'Login' }}</span>
            </v-tooltip>
        </v-btn>
        <template v-slot:extension>
            <v-tabs fixed-tabs>
                <v-tab to="/inter" :disabled="!isAuthenticated">
                    <v-icon left>mdi-account-arrow-right</v-icon>
                    Interpersonal
                </v-tab>
                <v-tab to="/">
                    <v-icon large left>mdi-home</v-icon> Home
                </v-tab>
                <v-tab to="/intra" :disabled="!isAuthenticated">
                    <v-icon left>mdi-account-box</v-icon> Intrapersonal
                </v-tab>
            </v-tabs>
        </template>
    </v-app-bar>
</template>
<script>
import { mapActions, mapState } from 'vuex';

export default {
    name: 'Navbar',
    computed: mapState({
        isAuthenticated: state => state.isAuthenticated,
    }),
    methods: {
        ...mapActions({
            logout: 'logOut',
        }),
        login: function () {
            window.location.replace(
                'https://login.iiit.ac.in/cas/login?service=http://0.0.0.0:8000/login'
            );
        },
    },
};
</script>