<template>
    <v-container fluid>
        <v-row justify="center">
            <template v-if="mapping">
                <v-col
                    cols="12"
                    md="12"
                    v-for="question in questions"
                    :key="question._id"
                    class="text-center"
                >
                    <v-hover v-slot="{ hover }">
                        <v-sheet
                            outlined
                            shaped
                            class="pa-2"
                            :elevation="hover ? 5 : 1"
                            :class="{ 'on-hover': hover }"
                        >
                            <h4 class="text-subtitle">
                                {{ question.description }}
                            </h4>
                            <v-radio-group
                                row
                                dense
                                class="text-justify"
                                @change="saveState()"
                                v-model="mapping[question._id]"
                            >
                                <v-radio
                                    class="pa-2"
                                    v-for="option in options"
                                    :label="option.label"
                                    :key="question._id + '_' + option._id"
                                    :value="option._id"
                                ></v-radio>
                            </v-radio-group>
                        </v-sheet>
                    </v-hover>
                </v-col>
            </template>
            <template v-if="loading">
                <v-col>
                    <v-overlay absolute>
                        <v-progress-circular
                            indeterminate
                            size="16"
                        ></v-progress-circular>
                    </v-overlay>
                </v-col>
            </template>
        </v-row>
    </v-container>
</template>
<script>
import { mapGetters } from 'vuex';
export default {
    name: 'Questionnaire',
    props: {
        id: {
            type: String,
            required: true,
        },
        questions: {
            type: Array,
            required: true,
        },
        options: {
            type: Array,
            required: true,
        },
    },
    data: () => ({
        loading: false,
    }),
    methods: {
        async saveState() {
            this.loading = true;
            await this.$store
                .dispatch('user/saveState', {
                    qId: this.id,
                    qState: this.mapping,
                })
                .finally(() => (this.loading = false));
        },
    },
    async mounted() {
        this.loading = true;
        await this.$store
            .dispatch('user/getState', this.id)
            .finally(() => (this.loading = false));
    },
    computed: {
        ...mapGetters({
            getState: 'user/getState',
        }),
        mapping() {
            return { ...this.getState(this.id) };
        },
    },
};
</script>