<template>
    <v-container fluid>
        <v-row justify="center">
            <template v-if="Object.keys(mapping).length !== 0">
                <v-col
                    cols="12"
                    md="12"
                    v-for="question in questions"
                    :key="question._id"
                    class="text-center"
                >
                    <v-hover v-slot="{ hover }">
                        <v-card
                            outlined
                            shaped
                            class="pa-2"
                            :elevation="hover ? 5 : 1"
                            :class="{ 'on-hover': hover }"
                        >
                            <v-card-title>
                                {{ question.description }}
                            </v-card-title>
                            <v-card-text>
                                <UserList
                                    :users="
                                        mapping[question._id][
                                            activeOption[question._id]
                                        ]
                                    "
                                />
                            </v-card-text>
                            <v-card-actions>
                                <v-tabs
                                    grow
                                    centered
                                    v-model="activeOption[question._id]"
                                >
                                    <v-tab
                                        v-for="option in options"
                                        :key="option._id"
                                        :href="'#' + option._id"
                                    >
                                        <v-chip x-small>
                                            {{ option.label }}
                                        </v-chip>
                                    </v-tab>
                                </v-tabs>
                            </v-card-actions>
                        </v-card>
                    </v-hover>
                </v-col>
            </template>
            <template v-if="loading">
                <v-col>
                    <v-overlay absolute>
                        <v-progress-circular
                            indeterminate
                            size="16"
                        ></v-progress-circular>
                    </v-overlay>
                </v-col>
            </template>
        </v-row>
    </v-container>
</template>
<script>
import { mapGetters } from 'vuex';
import UserList from './UserList';

export default {
    name: 'SSQ6',
    components: { UserList },
    props: {
        questions: {
            type: Array,
            required: true,
        },
        options: {
            type: Array,
            required: true,
        },
    },
    data: () => ({
        id: 'ssq6',
        activeOption: {},
        loading: false,
    }),
    methods: {
        async saveState() {
            this.loading = true;
            await this.$store
                .dispatch('user/saveState', {
                    qId: this.id,
                    qState: this.mapping,
                })
                .finally(() => (this.loading = false));
        },
    },
    async mounted() {
        this.loading = true;
        this.questions.forEach(
            question => (this.activeOption[question._id] = this.options[0]._id)
        );
        await this.$store
            .dispatch('user/getState', this.id)
            .finally(() => (this.loading = false));
    },
    computed: {
        ...mapGetters({
            getState: 'user/getState',
        }),
        mapping() {
            return this.getState(this.id);
        },
    },
};
</script>