<template>
    <v-list dense>
        <v-list-item>
            <v-list-item-content>
                <v-list-item-title>Add User</v-list-item-title>
                <v-autocomplete
                    v-model="model"
                    :items="entries"
                    :loading="isLoading"
                    :search-input.sync="search"
                    hide-selected
                    full-width
                    flat
                    outlined
                    shaped
                    item-text="Description"
                    item-value="id"
                    label="LDAP Search"
                    placeholder="John Appleseed"
                    prepend-inner-icon="mdi-database-search"
                    return-object
                >
                    <template slot="item" slot-scope="{ item }">
                        <v-list-item three-line>
                            <v-list-item-title
                                >{{ item.name }}
                                <v-chip x-small v-if="item.gender">{{
                                    item.gender
                                }}</v-chip></v-list-item-title
                            >
                            <v-list-item-subtitle
                                >{{ item.batch }} |
                                {{ item.branch }}</v-list-item-subtitle
                            >
                            <v-list-item-subtitle>{{
                                item.id
                            }}</v-list-item-subtitle>
                        </v-list-item>
                    </template>
                </v-autocomplete>

                <v-expand-transition>
                    <!-- TODO add items to existing list -->
                    <v-list v-if="model" class="red lighten-3">
                        <v-list-item v-for="(field, i) in fields" :key="i">
                            <v-list-item-content>
                                <v-list-item-title
                                    v-text="field.value"
                                ></v-list-item-title>
                                <v-list-item-subtitle
                                    v-text="field.key"
                                ></v-list-item-subtitle>
                            </v-list-item-content>
                        </v-list-item>
                    </v-list>
                </v-expand-transition>
            </v-list-item-content>
        </v-list-item>
        <v-list-item v-for="(user, i) in users" :key="i">
            <v-list-item-content>
                <v-list-item-title>{{ user }}</v-list-item-title>
            </v-list-item-content>
        </v-list-item>
    </v-list>
</template>
<script>
export default {
    name: 'UserList',
    props: ['users'],
    data: () => ({
        model: null,
        search: null,
        isLoading: false,
        entries: [],
        count: 0,
    }),
    computed: {
        fields() {
            if (!this.model) return [];

            return Object.keys(this.model).map(key => {
                return {
                    key,
                    value: this.model[key] || 'n/a',
                };
            });
        },
    },
    watch: {
        search(val) {
            // Items have already been loaded
            if (this.entries.length > 0) return;

            // Items have already been requested
            if (this.isLoading) return;

            this.isLoading = true;

            // Lazily load input items
            fetch(`/api/core/search/2016/cse?name=${val}`)
                .then(res => res.json())
                .then(query => {
                    if (!query.success) throw new Error(query.error);
                    return query.data;
                })
                .then(results => {
                    this.entries = results;
                    this.count = this.entries.length;
                })
                .catch(err => {
                    console.log(err);
                })
                .finally(() => (this.isLoading = false));
        },
    },
};
</script>