<template>
    <v-container class="text-justify">
    <v-row>
        <v-col>
            <span class="text-h4">Introduction</span>
            <p>
                Thank you for your interest in participating in our research.
                This survey is part of a research project that aims to study
                perceived social support, social media usage and mental well
                being in a small world network. We aim to collect data through
                questionnaires to model the network. The survey includes six
                questionnaires, two of which are about social support.
            </p>
            <p>
                The questionnaire are as follows:
                <ol>
                    <li>
                        K10: This scale deals with your state of mind and stress levels in the past 4 weeks.
                    </li>
                    <li>
                        HUMS: This concerns how your music listening habits impact your emotions and your daily life.
                    </li>
                    <li>
                        IPIP (20-IPIP): It is a widely used personality assessment tool.
                    </li>
                    <li>
                        Social Media Addiction Scale:
                        this scale gives an idea about you social media usage over the
                        last one year Multidimensional Scale of Perceived Social Support
                    </li>
                    <li>
                        MSPSS: It is a brief scale to measure perception of support
                        from 3 sources: Family, Friends, and a Significant Other Social
                        Support Questionnaire.
                    </li>
                </ol>
            </p>
            <p>
                Participation in this survey is <strong>completely voluntary</strong>. You can
                withdraw your consent to participate at any time. Your answers will
                remain anonymous. Furthermore, this is a one-time study; data collection will be
                completed by February 2021.
            </p>
            
            <span class="text-h5">Point(s) of Contact</span>
            <p>
                <v-list>
                    <v-list-item>
                        <v-list-item-content>
                            <v-list-item-title>Dr. Vinoo Alluri</v-list-item-title>
                            <v-list-item-subtitle>Scientist-in-charge</v-list-item-subtitle>
                            <v-list-item-subtitle>vinoo[dot]alluri[at]iiit[dot]ac[dot]in</v-list-item-subtitle>
                        </v-list-item-content>
                    </v-list-item>
                    <v-list-item>
                        <v-list-item-content>
                            <v-list-item-title>Pratik Kamble</v-list-item-title>
                            <v-list-item-subtitle>Research Student</v-list-item-subtitle>
                            <v-list-item-subtitle>pratik[dot]kamble[at]students[dot]iiit[dot]ac[dot]in</v-list-item-subtitle>
                        </v-list-item-content>
                    </v-list-item>
                    <v-list-item>
                        <v-list-item-content>
                            <v-list-item-title>Saumya Srivastava</v-list-item-title>
                            <v-list-item-subtitle>Research Student</v-list-item-subtitle>
                            <v-list-item-subtitle>saumya[dot]srivastava[at]research[dot]iiit[dot]ac[dot]in</v-list-item-subtitle>
                        </v-list-item-content>
                    </v-list-item>
                </v-list>
            </p>
            <span class="text-h5">About the Application</span>
            <p>
            The research is implemented using a web application that will be
            disseminated to participants through social email lists. The time required to fill
            the whole in one sitting is 30 minutes, but they can be filled incrementally.
            You can save your progress and pick up from the last saved point at a later time.
            The research may result in scientific publications, conference and seminar
            presentations, and teaching. Participation in the research will not result 
            in any costs to you, the user.
            </p>
        </v-col>
    </v-row>
    <v-row justify="center">
        <v-col cols="12" xs="12" md="6">
            <span class="text-h4">Data Privacy</span>
            <p>
                It is not possible to identify participants from the research results,
                clarifications or publications. Data is used for research purposes
                only. There are no anticipated risks associated with participating
                in this study. The data collected will be completely confidential.
                In the Social Support (SSQ6) questionnaire, you are required to pick other people from the network
                as choices for individual questions, however, even those picked would remain anonymous, as outlined below.
                <br>
                <v-divider class="my-2"></v-divider>
                <span class="text-overline">Anonymization Methodology</span><br>
                All data that is collected through the questionnaires is anonymized using a simple hashing technique over LDAP.
                When you log in to the platform using CAS, your sambaSID (a unique ID for each student) is hashed and logged into
                the database as your identity. This is now your reference for any activity on the site.
                For the interpersonal questionnaire, you will be asked to fill out certain questions about the support structure
                around you. For this, to maintain anonymity, a search can be performed over the public LDAP (college-private “telephone” booth)
                for the relevant sambaSID of the other user and will, again be hashed and stored as the network connectivity from you to
                the other nodes. Once the target sample size has been reached, the hashed network from the database will be salted and
                subjected to further analysis. Analysis of trends and topography would be made available as and when it has been performed.
            </p>
        </v-col>
        <v-col cols="12" xs="12" md="6">
            <span class="text-h4">Renumeration</span>
            <p>
                On the completion of any of the questionnaires you are
                automatically entered into a large scale Amazon/Sponsor raffle draw for 4 gift vouchers for ₹ 5000 each.
                When each user logs in to the system for the first time, he is presented
                with a prompt to choose a unique nickname. This nickname will be mapped to the hashed ID
                and used for later reference (by you) to collect your total remuneration. All participants
                of the anonymous questionnaire will be renumerated for their time invested. The raffle token
                system exists to motivate people to fill in the entire
                research dataset. In essence, if any of the questionnaires are filled in full (indicated by number
                of tickets on your dashboard), you are automatically entered into a large scale Amazon/Sponsor
                raffle draw for a gift voucher. Remember, this is in addition to the individual renumeration you
                get for filling all questionnaires.
            </p>
        </v-col>
    </v-row>
    </v-container>
</template>

<script>
export default {
    name: 'Home',
    components: {},
};
</script>
