<template>
    <v-container fluid>
        <v-row justify="center">
            <v-col class="text-center">
                <h3 class="text-h3 font-weight-thin">
                    Intrapersonal Questionnaires
                </h3>
            </v-col>
        </v-row>
        <v-row>
            <v-col>
                <v-expansion-panels
                    focusable
                    accordion
                    active-class="grey lighten-3"
                >
                    <v-expansion-panel
                        v-for="(questionnaire, _id) in questionnaires"
                        :key="_id"
                    >
                        <v-expansion-panel-header>
                            <span class="text-overline">
                                <v-chip
                                    v-if="questionnaire.optional"
                                    small
                                    outlined
                                    color="primary"
                                >
                                    <v-icon left small
                                        >mdi-information-outline</v-icon
                                    >
                                    Optional
                                </v-chip>
                                {{ questionnaire.title }}
                            </span>
                        </v-expansion-panel-header>
                        <v-expansion-panel-content>
                            <template v-if="questionnaire._id === 'ssq6'">
                                <SSQ6
                                    :questions="questionnaire.questions"
                                    :options="questionnaire.options"
                                />
                            </template>
                            <template v-else>
                                <Questionnaire
                                    :id="questionnaire._id"
                                    :questions="questionnaire.questions"
                                    :options="questionnaire.options"
                                />
                            </template>
                        </v-expansion-panel-content>
                    </v-expansion-panel>
                </v-expansion-panels>
            </v-col>
        </v-row>
    </v-container>
</template>
<script>
import Questionnaire from '../components/Questionnaire';
import SSQ6 from '../components/SSQ6';

export default {
    name: 'Inter',
    components: { Questionnaire, SSQ6 },
    created() {
        this.questionnaireKeys.forEach(key => {
            this.$store.dispatch('questions/getQuestionnaire', key);
        });
    },
    computed: {
        questionnaires() {
            return this.$store.getters['questions/getInter']();
        },
    },
    data: () => {
        return {
            questionnaireKeys: ['mspss', 'ssq6'],
        };
    },
};
</script>