<template>
    <v-container fluid>
        <v-row justify="center">
            <v-col class="text-center">
                <h3 class="text-h3 font-weight-thin">
                    Intrapersonal Questionnaires
                </h3>
            </v-col>
        </v-row>
        <v-row>
            <v-col>
                <v-expansion-panels
                    focusable
                    accordion
                    active-class="grey lighten-3"
                >
                    <v-expansion-panel
                        v-for="(questionnaire, _id) in questionnaires"
                        :key="_id"
                    >
                        <v-expansion-panel-header>
                            <span class="text-overline">
                                <v-chip
                                    v-if="questionnaire.optional"
                                    small
                                    outlined
                                    color="primary"
                                >
                                    <v-icon left small
                                        >mdi-information-outline</v-icon
                                    >
                                    Optional
                                </v-chip>
                                {{ questionnaire.title }}
                            </span>
                        </v-expansion-panel-header>
                        <v-expansion-panel-content>
                            <Questionnaire
                                :id="questionnaire._id"
                                :questions="questionnaire.questions"
                                :options="questionnaire.options"
                            />
                        </v-expansion-panel-content>
                    </v-expansion-panel>
                </v-expansion-panels>
            </v-col>
        </v-row>
    </v-container>
</template>
<script>
import Questionnaire from '../components/Questionnaire';

export default {
    name: 'Intra',
    components: { Questionnaire },
    data: () => ({
        questionnaireKeys: ['k10', 'idip20', 'hums', 'bsmas'],
    }),
    created() {
        this.questionnaireKeys.forEach(key => {
            this.$store.dispatch('questions/getQuestionnaire', key);
        });
    },
    computed: {
        questionnaires() {
            return this.$store.getters['questions/getIntra']();
        },
    },
};
</script>